<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="succ" style="color: green">
        <b><%= message %></b>
    </div>
    <div class="err" style="color: red">
        <b><%= errorMessage %></b>
    </div>

    <button><a href="/api/users/keLogin">Ke Login</a></button>
    <br>
    <h1>Register</h1><br>
    <form action='/api/users/register' method="post">
        No. Telp : <input type="text" name="notelp" id=""><br>
        Nama : <input type="text" name="nama" id=""><br>
        Username : <input type="text" name="uname" id=""><br>
        E-mail : <input type="text" name="nama" id=""><br>
        Password : <input type="password" name="pass" id=""><br>
        Confirm Password : <input type="password" name="cpass" id=""><br>
        <input type="submit" name="daftar" value="Daftar"/>
    </form>
</body>
</html>